@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Permanent+Marker&family=Shanti&display=swap');

/*
font-family: 'Comic Neue', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Shanti', sans-serif;
*/

.App {
  text-align: center;
}

.page {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1, h2, h3, h4 {
  font-family: 'Comic Neue';
}

#about, #avatar-credit {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}


a {
  color: rgb(84, 84, 84);
  margin-left: 10px;
  margin-right: 5px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  background-color: rgb(252, 126, 126);
  padding-top: 20px;  
  padding-bottom: 5px;
  padding-right: 5px;
}

.menu {
  display: inline-flex;

}

#avatar {
  width: 250px;
}

.chars {
  display: inline-flex;
}


